	
.main {
	width: 560px;
	height: 500px;
	margin: 5% auto;
	margin-left: 53%;
	border-radius: 1.5em;
	border: 2px solid #e9dada; 
	margin-right: 2%;
	box-shadow: 0px 11px 35px 2px rgba(230, 221, 221, 0.14);
	position: absolute;
	z-index: 1;
	background: white;
}
.sign {
	padding-top: 30px;
	color: #6c55aa;
	font-weight: bold;
	font-size: 20px;
	font-family:Tahoma, Geneva, Verdana, sans-serif;
}
.errorgeneric {
	height: 1em; 
	color: red;
	padding: 3% 6%;
	font-family:  Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 25%;
	font-size: 15px;
	font-weight: bold;
	overflow: visible;
	white-space: nowrap;
	
	}

.lab{
	font-weight: 500;
	font-size: 14px;
	color: rgb(22, 20, 20);
	/* font-style: italic; */

}

.error{
	height: 1em; 
	color: red; 
    font-size: 0.8em; 
	padding-left: 5px;
}

.un {
width: 230px;
color: rgb(38, 50, 56);
font-weight: 350;
font-size: 12px;
letter-spacing: 1px;
 background: rgba(136, 126, 126, 0.04); 
padding: 5px 5px;
/* border: */
/* border-radius: 20px; */
 /* outline: none;  */
box-sizing: border-box;
border:1px solid black; 
/* margin-left: 46px; */
font-family: Tahoma, Geneva, Verdana, sans-serif;
height: 30px;
}

form.form1 {
	padding-top: 3%;
}

/* .pass {
		width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
} */


.un:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;

}
.left-image{
	background-image: url('/assets/images1.jpg');
	background-position: center;
	background-size: cover;
	width:100%;
	height: 100vh;
}

/* @media (max-width: 600px) {
	.main {
		border-radius: 10px;
	}

} */
 .submit {
	cursor: pointer;
	border-radius: 5em; 
	border: 0;
	padding-left: 40px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: Tahoma, Geneva, Verdana, sans-serif, sans-serif;
	margin-left: 35%;
	margin-top: 5%;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
} 

.main table td {
    height: 70px; 

}
td{
	padding-right: 30px;
}

 /* .left-image{
	width:100%;
	height: 100vh;
}  */

.tooltip-content {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	padding: 8px;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
  }