<div class="main">

  <div class="top">
    <h2 class="h2">
      <span class="nleft">Hi, {{ username }} </span>
      <!-- <span class="ncenter">{{ name }} </span> -->
      <!-- <a class="logout">Sign-out</a> -->
      <button class="sign-out" (click)="logout()">Sign-out</button>
    </h2>
  </div>

  <div class="left">
    <p class="para">Certificate Service |
      <a class="cert" (click)="myCertificate()">My Certificate</a>
      <a class="cert" (click)="ListCertificate()">List Certificate</a>
    </p>
  </div>
  <div class="bottomheader">

    <div class="bottomleft" *ngIf="showHeader">
     
        <div *ngIf="jsonData && jsonData.length > 0; else noData">
          <div><button class="button-3" *ngIf="associateb" (click)="associate()">Associate</button></div>
          <div><button class="button-3" *ngIf="disassociateb" (click)="disassociate()">Disassociate</button></div>
          <div class="container">
          <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-0"></div>
              <div class="col col-1">No</div>
              <div class="col col-2">Certificate Name</div>
            </li>

            <div *ngFor="let data of jsonData; let j = index">
              <li class="table-row" *ngFor="let item of data?.certificates; let i = index;">
                <div class="col col-0"> <input class="custom-checkbox "  type="checkbox" [(ngModel)]="item.selected" /> </div>
                <div class="col col-1" data-label="No">{{ j + 1 }}</div>
                <div class="col col-2" data-label="CertificateNumber">
                  <a class="CertificateNumber" (click)="viewCertificate(data.id)">{{ nameShrink(item.alias) }}</a>
                </div>
              </li>
            </div>
        </ul>
      </div>
      
    </div>
  </div>
    <div class="bottomright" *ngIf="viewHeader">
      <table class="table">
        <tbody class="tb">
          <ng-container *ngFor="let entry of getObjectEntries(jsonData1)">
            <tr class="second">
              <ng-container *ngIf="isObject(entry[1])">
                <div *ngFor="let nestedEntry of getObjectEntries(entry[1])">
                  <ng-container *ngIf="isObject(nestedEntry[1])">
                    <div *ngFor="let deeperEntry of getObjectEntries(nestedEntry[1])">
                      <td class="td1">{{ deeperEntry[0]}}</td>
                      <td class="td2" ><div class="word-wrap">{{ deeperEntry[1] }}</div></td>
                    </div>
                  </ng-container>
                </div>

              </ng-container>
              <div>
                <ng-container *ngIf="!isObject(entry[1])">
                  <td class="td1">{{ entry[0] }}:</td>
                  <td class="td2"><div class="word-wrap">{{ entry[1] }}</div></td>
                </ng-container>
              </div>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>


  
  <ng-template  #noData>
    <p class="error">No Certificates Available!</p>
  </ng-template>

</div>












<!-- <div class="main">
    <div class="left">
        <p>Login: {{ username }} </p>
        <br><br><br><br><br><br><br><br><br>
        <a class="cert">My Certificate</a><br><br>
        <a class="cert">All Certificate</a><br>
        <a class="logout">Logout</a>
    </div>
    <div>
        <h2 class="heading">My Certificate </h2>
        <div> <button class ="button-3">Disassociate</button></div>
        
    <div class="container">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-0"></div>
            <div class="col col-1">No</div>
            <div class="col col-2">Certificate Number</div>
          </li>
          <li class="table-row" *ngFor="let item of jsonData; let i = index">
            <div class="col col-0"> <input type="checkbox"/> </div>
            <div class="col col-1" data-label="No">{{ i + 1 }}</div>
            <div class="col col-2" data-label="CertificateNumber"><a class="CertificateNumber" routerLink="/view">{{ item.SerialNumber }}</a></div>
          </li>
        </ul>
      </div>
      </div>
</div> -->
